* {
    font-family: 'Righteous', cursive;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

main {
    flex: 1;
    display: flex;
}

main section {
    flex: 2;
    background-color: #20232a;
}

main .login-container {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.input-group label {
    font-size: 1.5em;
}

.input-group input {
    margin: 0.5em 0;
}

.login-container button {
    margin-top: 1em;
}

button {
    outline: none;
    border: thin solid;
    border-radius: 4px;
    padding: 1em 2em;
    background: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    background-color: #20232a;
    color: white;
}

input[type="text"], input[type="password"] {
    outline: none;
    padding: 1em;
    border: thin solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.error {
    color: red;
}

@media (max-width: 60rem) {
    .left-section {
        display: none;
    }
}