<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <link rel="stylesheet" href="./css/theme.css">
    <script src="./js/login.js"></script>

    <title>Login Example</title>
</head>

<body ng-app="loginApp">
    <main>
        <section class="left-section"></section>

        <section class="login-container" ng-controller="loginController">

            <h1>Login</h1>

            <div class="input-group">
                <label for="username">Username: </label>
                <input type="text" placeholder="username here..." id="username" name="username" ng-model="username">
                <span class="error" ng-if="!username && isSubmitted">Invalid username</span>
            </div>

            <div class="input-group">
                <label for="password">Password: </label>
                <input type="password" placeholder="password here..." id="password" name="password" ng-model="password">
                <span class="error" ng-if="!password && isSubmitted">Invalid password</span>
            </div>

            <button ng-click="login()">Login</button>

        </section>
    </main>
</body>

</html>